<!DOCTYPE html>
<html>

<head>
<% include ../partials/head %>
<% include ../partials/profile-style%>
</head>
<body>
<% include ../partials/navbar-user%>


<div class="container db-social">
<div class="jumbotron jumbotron-fluid"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-11">
            <div class="widget head-profile has-shadow">
                <div class="widget-body pb-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                            <ul>
                                <li>
                                    <div class="counter"><%= userData.countFriend()%></div>
                                    <div class="heading" ><a href ='/menu/<%= userData.id%>/friendList'>Friends</a></div>
                                </li>
  
                            </ul>
                        </div>
                        <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                            <div class="image-default">
                                <img class="rounded-circle" src="http://bootdey.com/img/Content/avatar/avatar5.png" alt="...">
                            </div>
                            <div class="infos">
                                <h2><%= userData.name%></h2>
                                <h4>@<%= userData.username%></h4>
                                <br><br>
                                <% if (!status) {%>
                                    <button type= 'submit'><a href = "/menu/addFriend/<%= userData.id%>">Add Friend</a></button>
                                <%} else if (status === 'pending'){%>
                                    <button>Pending</button>
                                <%}%>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>


</html>